.pageContent{
	width: 600px;
	height:600px;
	float: left;
	
}

.leftImage{
	width:240px;
	height:240px;
	display:block;
	border-right: 1px solid #ccc;
}
.leftImage img{
	width:220px;
	height:220px;
	margin-left: 20px;
}
.rightContent{
	float: left;
	margin-left: 260px;
	margin-top: -120px;
}
.rightContent i a{
	text-decoration: none;
	padding-right: 20px;
}
<!--addpackage-->

#addPackage{
	width:600px;
	height:600px;
}
#addPackage h3 {
	color: #33a3dc;
}
#addPackage i{
	display: block;
	margin-top: 30px;
	
}
#addPackage input{
	width:200px;
	height:25px;
	line-height:25px;
	float: right;
	margin-right: 230px;
}

#addPackage #tcSubmit{
	float: left;
	margin: 40px 0 0 20px;
	width: 60px;
}
#addPackage #reset{
	float: left;
	margin-left: 120px;
	margin-top: 40px;
	width: 60px;
}

<!--comment-->
