
* {
    font: inherit;
    margin: 0;
    padding: 0;
}
html {
}
body {
    color: #000;
    font-family: "Î¢ÈíÑÅºÚ",Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}
article, aside, footer, header, section, nav, figure, main {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: 100%;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: normal;
    line-height: inherit;
}
ul, ol, dl {
    list-style: outside none none;
}
em, b, i {
    font-style: normal;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
img, textarea, input, select, button, fieldset {
    border: 0 none;
    font: inherit;
    outline: medium none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.bnone {
    border: 0 none;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt100 {
    margin-top: 100px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb100 {
    margin-bottom: 100px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml25 {
    margin-left: 25px;
}
.ml30 {
    margin-left: 30px;
}
.ml50 {
    margin-left: 50px;
}
.ml100 {
    margin-left: 100px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
}
.mr50 {
    margin-right: 50px;
}
.mr100 {
    margin-right: 100px;
}
.pl10 {
    padding-left: 10px;
}
.pl15 {
    padding-left: 15px;
}
.pl20 {
    padding-left: 20px;
}
.pl30 {
    padding-left: 30px;
}
.pl50 {
    padding-left: 50px;
}
.pr10 {
    padding-right: 10px;
}
.pr15 {
    padding-right: 15px;
}
.pr20 {
    padding-right: 20px;
}
.pr30 {
    padding-right: 30px;
}
.pr50 {
    padding-right: 50px;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt30 {
    padding-top: 30px;
}
.pt50 {
    padding-top: 50px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb50 {
    padding-bottom: 50px;
}
.lh10 {
    line-height: 10px;
}
.lh15 {
    line-height: 15px;
}
.lh20 {
    line-height: 20px;
}
.lh24 {
    line-height: 24px;
}
.lh30 {
    line-height: 30px;
}
.lh50 {
    line-height: 50px;
}
.fz14 {
    font-size: 14px;
}
.fz16 {
    font-size: 16px;
}
.fz18 {
    font-size: 18px;
}
.fz24 {
    font-size: 24px;
}
.fwb {
    font-weight: bold;
}
.fw100 {
    font-weight: 100;
}
.fw500 {
    font-weight: 500;
}
.fw700 {
    font-weight: 700;
}
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}
.ti5 {
    text-indent: 5px;
}
.ti10 {
    text-indent: 10px;
}
.ti15 {
    text-indent: 15px;
}
.ti20 {
    text-indent: 20px;
}
.ovh {
    overflow: hidden;
}
.por {
    position: relative;
}
.poa {
    position: absolute;
}
.button {
    cursor: pointer;
}
.clear {
    clear: both;
    font-size: 1px;
    height: 1px;
    visibility: hidden;
    width: 1px;
}
