
#flooter_502 {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
}
#flooter_502_269 {
    border-bottom: 1px solid #dcdcdc;
    height: 216px;
    margin: auto;
    position: relative;
    width: 1000px;
}
#flooter_502_269 dl {
    margin-top: 50px;
    width: 556px;
}
#flooter_502_269 dt {
    color: #707070;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
}
#flooter_502_269 dd {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/bg_qa.jpg") no-repeat scroll 0 0;
    float: left;
    line-height: 26px;
    width: 268px;
}
#flooter_502_269 dd a {
    color: #707070;
    display: block;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    padding-left: 10px;
}
#flooter_502_269 dd a:hover {
    color: #9765ae;
    text-decoration: underline;
}
#flooter_502_269 #flooter_502_269_1 {
    position: relative;
}
#flooter_502_269 #flooter_502_269_2 {
    position: relative;
}
#flooter_502_269 #flooter_502_269_3 {
    position: relative;
}
#flooter_502_269 #flooter_502_269_4 {
    position: relative;
}
#flooter_502_269 #flooter_502_269_5 {
    position: relative;
}
#flooter_502_269 #flooter_502_269_6 {
    position: relative;
}
#flooter_502_269 #flooter_502_269_1 p {
    background: #dcdcdc none repeat scroll 0 0;
    color: #804616;
    display: none;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 2px;
    position: absolute;
    top: 32px;
    z-index: 999999;
}
#flooter_502_269 #flooter_502_269_1 p b {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/btn_prev.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 20px;
}
#flooter_502_269 #flooter_502_269_2 p {
    background: #dcdcdc none repeat scroll 0 0;
    color: #804616;
    display: none;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 2px;
    position: absolute;
    top: 32px;
    z-index: 999999;
}
#flooter_502_269 #flooter_502_269_2 p b {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/btn_prev.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 20px;
}
#flooter_502_269 #flooter_502_269_3 p {
    background: #dcdcdc none repeat scroll 0 0;
    color: #804616;
    display: none;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 2px;
    position: absolute;
    top: 32px;
    z-index: 999999;
}
#flooter_502_269 #flooter_502_269_3 p b {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/btn_prev.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 20px;
}
#flooter_502_269 #flooter_502_269_4 p {
    background: #dcdcdc none repeat scroll 0 0;
    color: #804616;
    display: none;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 2px;
    position: absolute;
    top: 32px;
    z-index: 999999;
}
#flooter_502_269 #flooter_502_269_4 p b {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/btn_prev.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 20px;
}
#flooter_502_269 #flooter_502_269_5 p {
    background: #dcdcdc none repeat scroll 0 0;
    color: #804616;
    display: none;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 2px;
    position: absolute;
    top: 32px;
    z-index: 999999;
}
#flooter_502_269 #flooter_502_269_5 p b {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/btn_prev.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 20px;
}
#flooter_502_269 #flooter_502_269_6 p {
    background: #dcdcdc none repeat scroll 0 0;
    color: #804616;
    display: none;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 2px;
    position: absolute;
    top: 32px;
    z-index: 999999;
}
#flooter_502_269 #flooter_502_269_6 p b {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/btn_prev.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 20px;
}
.flooter_502_269_right {
    height: 190px;
    position: absolute;
    right: 0;
    top: 30px;
    width: 440px;
}
#flooter_285_right {
    float: left;
    height: 190px;
    width: 285px;
}
#flooter_285_right p {
    color: #707070;
    display: block;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 16px;
    font-weight: bold;
}
#flooter_144_right {
    float: right;
    height: 190px;
    width: 126px;
}
#flooter_144_right p {
    color: #707070;
    display: block;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 16px;
    font-weight: bold;
}
.flooter_285_right_1 {
    height: 46px;
    margin-top: 20px;
}
.flooter_285_right_2 {
    color: #707070;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    line-height: 35px;
}
#image_bg_45 {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/bg_dianhua.jpg") no-repeat scroll 0 0;
    float: left;
    height: 45px;
    width: 45px;
}
#image_bg_All {
    float: right;
    height: 45px;
    width: 230px;
}
#image_bg_45s {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/bg_qq.jpg") no-repeat scroll 0 0;
    float: left;
    height: 45px;
    width: 45px;
}
#image_bg_Alls {
    float: right;
    height: 45px;
    width: 230px;
}
#image_bg_All p {
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    font-weight: normal;
}
#image_bg_Alls #image_bg_Alls_p1 {
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    font-weight: normal;
    height: 26px;
    position: relative;
}
#image_bg_Alls #image_bg_Alls_p1 span {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/image_zaixian.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 22px;
    left: 42px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80px;
}
#image_bg_Alls #image_bg_Alls_p1 i {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/image_zaixian.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    font-style: normal;
    height: 22px;
    left: 130px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80px;
}
#flooter_144_right div {
    height: 126px;
    margin-top: 20px;
}
#footer_323 {
    border: 1px solid #f6f6f6;
    height: 110px;
    margin: auto;
    width: 1000px;
}
#footer_323 ul {
    margin-top: 40px;
    padding-left: 150px;
    width: 850px;
}
#footer_323 li {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    height: 47px;
    margin-right: 18px;
    width: 124px;
}
#copyright {
    height: 80px;
    margin: auto;
    width: 1000px;
}
#copyright p {
    color: #707070;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    height: 25px;
    text-align: center;
}
#copyright p a {
    color: #707070;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
}
#copyright p a:hover {
    color: #0088ff;
    text-decoration: underline;
}
#scrollallupdown {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/showtouming.png") repeat scroll 0 0;
    bottom: 0;
    display: none;
    height: 80px;
    left: 0;
    overflow: visible;
    position: fixed;
    z-index: 2000;
}
#scrollallupdown_box {
    height: 80px;
    margin: auto;
    width: 1000px;
}
.scrollallupdown_width {
    float: left;
    height: 80px;
    width: 250px;
}
#scrollallupdown_width1 {
    color: #ffff00;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 35px;
    font-weight: bold;
    height: 48px;
    line-height: 66px;
    text-align: center;
}
#scrollallupdown_width2 {
    color: #ffff00;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    text-align: right;
}
#scrollallupdown_width3 {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/QQbeijingimage.png") no-repeat scroll 60px 16px;
    font-family: Î¢ÈíÑÅºÚ;
    font-weight: bold;
    height: 48px;
    position: relative;
    text-align: center;
}
#scrollallupdown_width3 u {
    display: block;
    height: 20px;
    position: absolute;
    right: 60px;
    text-decoration: none;
    top: 18px;
    width: 100px;
}
#scrollallupdown_width3 u a {
    color: #7b7676;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    text-decoration: none;
}
#scrollallupdown_width4 {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/QQbeijingimage.png") no-repeat scroll 60px 0;
    color: #ffff00;
    font-family: Î¢ÈíÑÅºÚ;
    font-weight: bold;
    height: 35px;
    position: relative;
    text-align: center;
}
#scrollallupdown_width4 u {
    display: block;
    height: 20px;
    position: absolute;
    right: 60px;
    text-decoration: none;
    top: 2px;
    width: 100px;
}
#scrollallupdown_width4 u a {
    color: #7b7676;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    text-decoration: none;
}
#scrollallupdown_width5 {
    color: #ffff00;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    font-weight: bold;
}
#scrollallupdown_width6 {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/QQbeijingimage.png") no-repeat scroll 0 16px;
    color: #ffff00;
    font-family: Î¢ÈíÑÅºÚ;
    font-weight: bold;
    height: 48px;
    line-height: 90px;
    position: relative;
}
#scrollallupdown_width6 u {
    display: block;
    height: 20px;
    left: 35px;
    position: absolute;
    text-decoration: none;
    top: -18px;
    width: 100px;
}
#scrollallupdown_width6 u a {
    color: #7b7676;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    text-decoration: none;
}
#scrollallupdown_width7 {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/shouchangbenzhan.png") no-repeat scroll 28px 20px;
    height: 70px;
    position: relative;
    text-align: center;
}
#scrollallupdown_width7 u {
    display: block;
    height: 30px;
    left: 30px;
    position: absolute;
    text-indent: -999999px;
    top: 22px;
    width: 166px;
}
#scrollallupdown_width7 a {
    color: #ffffff;
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 16px;
}
#xxxxxxx {
    background: rgba(0, 0, 0, 0) url("../jieguo_images/xxxxxx.png") no-repeat scroll 0 5px;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 78px;
}
